body {
    background-color:  #E5E5E5;
    position: relative;
}
.top-contents {
    width: 100%;
    height: 92px;
    
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
}
.top-first-text {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    color: #FFFFFF;
    letter-spacing: -0.012em;
   
}
.top-second-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.top-first-text, .top-second-text {
    margin-left: 21px;
}
.feed {
    margin-top: 123px;
    margin-bottom: 108px;
}
.middle-contents {
    width: 100%;
    height: 216px;
    margin-bottom: 27px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.middle-contents .middle-items:last-child {
    margin-right: 21px;
}
.main-text {
    margin-left: 21px;
    margin-bottom: 17px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}
.middle-items {
    width: 100%;
    height: 216px;
    padding: 0px 14px;
    background-color: #ffffff;
    margin-left: 21px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid 4px #ffffff;
    border-radius: 9px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.middle-items-border-one, 
.middle-items-border-two, 
.middle-items-border-three {
    border: solid 6px #32B72F;
}
.middle-items > div > img {
    width: 144px;
    height: 87px;
    border-radius: 10px;
    object-fit: cover;
}
.item {
    width: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middle-first-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 8px;
    margin-bottom: 4px;
}
.product-informations {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-bottom: 5px;
}
.product-money {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.bottom-contents {
    width: 100%;
    height: 92px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
.bottom-content {
    margin: 0px 25px;
    width: 364px;
    height: 61px;
    left: 25px;
    bottom: 16px;
    background-color: #CBCBCB;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bottom-content-triggered {
    background-color: #32B72F;
}
.bottom-text {
    width: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}

