body {
    background-color:  #E5E5E5;
    position: relative;
    display: flex;
    flex-direction: column;
}
ion-icon {
    color: #ffffff;
    width: 13px;
    height: 13px;
    z-index: 0;
}

.review-region {  
    width: 100%;
    height: 1096px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.request {
    display: none;
}
.review {
    background-color: #50D074;
    position: fixed;
    top: 150px;
  
    width: 90%;
    height: 373px;
    margin-left: 16px;
    margin-right: 16px;
   
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: space-between;

}
.main-text-review {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
    margin: 28px 0px;
}
.items-review {
    display: flex;
    flex-direction: column;
    
    margin: 0px 26px;
}
.items-review > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}
.items-review > div > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}
.total-final {
    margin: 0px 26px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}
.button-item {
    margin: 24px 24px;
}
.button-finally, .button-cancel {
    
    
    border-radius: 39px;
    border-width: 0px;
    width: 100%;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    background-color: #50D074;
    cursor: pointer;
 
}

.button-finally {
    color: #50D074;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}
.top-contents {
    width: 100%;
    height: 92px;
    
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
.top-first-text {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    color: #FFFFFF;
    letter-spacing: -0.012em;
   
}
.top-second-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.top-first-text, .top-second-text {
    margin-left: 21px;
}
.feed {
    margin-top: 123px;
    margin-bottom: 108px;
}
.middle-contents {
    width: 100%;
    height: 216px;
    margin-bottom: 27px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.middle-contents .middle-items:last-child {
    margin-right: 21px;
}
.main-text {
    margin-left: 21px;
    margin-bottom: 17px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}
.middle-items {
    width: 100%;
    height: 216px;
    padding: 0px 14px;
    background-color: #ffffff;
    margin-left: 21px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid 4px #ffffff;
    border-radius: 9px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.middle-items-border-one, 
.middle-items-border-two, 
.middle-items-border-three {
    border: solid 6px #32B72F;
}
.middle-items > div > img {
    width: 144px;
    height: 87px;
    border-radius: 10px;
    object-fit: cover;
}
.item {
    width: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middle-first-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 8px;
    margin-bottom: 4px;
}
.product-informations {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-bottom: 5px;
}
.value-money {
    display: flex;
    justify-content: space-between;
}
.product-money {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.ball {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ball-green-one, .ball-green-two, .ball-green-three{
    background-color: green;
}

.bottom-contents {
    width: 100%;
    height: 92px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
.bottom-content {
    margin: 0px 25px;
    width: 364px;
    height: 61px;
    left: 25px;
    bottom: 16px;
    background-color: #CBCBCB;
    border-radius: 50px;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bottom-content-triggered {
    background-color: #32B72F;
}
.bottom-text {
    width: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}

